/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetina, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 33px;
}

.top{
  line-height: 50px;
  padding-left: 50px;
}

.top-to-index{
  color: #333;
}
.top-to-index:hover{
  color: #fff;
  background-color: #333;
}


h1 {
  margin: 20px 0;
}

table {
  padding: 10px;
  width: 700px;
  margin-bottom: 20px;
}
.a {
  width: 200px;
}
.b {
  width: 350px;
}
tbody {
  line-height: 30px;
}

.show, .edit, .delete{
  color: #333;
  margin-left: 8px;
}

.show:hover {
  color: #fff;
  background-color: #333;
}
.edit:hover {
  color: #fff;
  background-color: #333;
}
.delete:hover {
  color: #fff;
  background-color: #333;
}

.form h4 {
  margin-top: 15px;
}

.button {
  margin: 15px 0;
  display: block;
}

.book-show {
  margin: 40px 50px;
  line-height: 40px;
}


.create-error {
  margin-top: 20px;
  height: 150px;
  width: 500px;
  border: red solid 2px;
}
.error-title {
  background-color: red;
}
.create-error h3{
  font-size: 15px;
  padding-left: 15px;
  color: #fff;
  line-height: 30px;
}
.error-body {
  list-style-position: inside;
  text-align: center;
  padding-top: 40px;
}

.error-form-title {
  width: -moz-fit-content;
  width: fit-content;
  background-color:red;
}
.error-form {
  background-color: red;
  display: table;
  padding:2px;
}

.flash {
  color:green;
}